<mat-toolbar>
  <mat-menu #appMenu="matMenu">
    <ng-template matMenuContent>
      <a [routerLink]="['/home']"><button mat-menu-item>Análises</button></a>
      <a [routerLink]="['/contato']"><button mat-menu-item>Contato</button></a>
    </ng-template>
  </mat-menu>

  <button matIconButton [matMenuTriggerFor]="appMenu">
    <mat-icon>menu</mat-icon>
  </button>

  <span
    ><strong><a routerLink="/home">ClickReviews </a></strong></span
  >

  <span class="example-spacer"></span>
  <!-- Filtro de categoria de produtos -->
  <div class="category-dropdown">
  <button (click)="toggleDropdown()" class="dropdown-button">
    <span class="label">{{ getSelectedLabel() }}</span>
  <span class="arrow" [class.open]="isOpen">&#9662;</span>
  </button>

  @if (isOpen) {
    <ul class="dropdown-menu">
      @for (cat of categories; track cat.value) {
        <li
          (click)="selectCategory(cat.value)"
          [class.active]="selectedCategory === cat.value"
        >
          {{ cat.label }}
        </li>
      }
    </ul>
  }
</div>


  <!-- <span class="example-spacer"></span> -->

  <button
    matIconButton
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon (click)="sharePage()">share</mat-icon>
  </button>
</mat-toolbar>
