<mat-toolbar>
  <mat-menu #appMenu="matMenu">
    <ng-template matMenuContent>
      <a [routerLink]="['/home']"><button mat-menu-item>Análises</button></a>
      <a [routerLink]="['/contato']"><button mat-menu-item>Contato</button></a>
    </ng-template>
  </mat-menu>

  <button matIconButton [matMenuTriggerFor]="appMenu">
    <mat-icon>menu</mat-icon>
  </button>

  <span><strong><a routerLink="/">ClickReviews</a></strong></span>
  <span class="example-spacer"></span>
  <button matIconButton class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon (click)="sharePage()">share</mat-icon>
  </button>
</mat-toolbar>







