<div class="contact-container">
  <div class="profile-section">
    <div class="profile-image">
      <!-- Substitua pelo caminho da sua imagem -->
      <img
        src="assets/icons/logo_site_azul.png"
        [attr.loading]="'lazy'"
        alt="Logo Site"
      />
    </div>

    <div class="profile-content">
      <h1>Política de Privacidade – ClickReviews</h1>

      <mat-card class="intro-card">
        <mat-card-content>
          <p>
            A sua privacidade é importante para nós. É política do ClickReviews
            respeitar a sua privacidade em relação a qualquer informação que
            possamos coletar no site
            <a [routerLink]="['/']"
              >https://www.clickreviews.com.br</a
            >.
          </p>

          <p><strong>Informações que coletamos</strong></p>
          <p>
            Coletamos informações pessoais apenas quando realmente precisamos
            delas para lhe fornecer um serviço, como por exemplo, ao preencher
            um formulário de contato ou clicar em links de afiliados.
          </p>

          <p><strong>Dados de navegação e cookies</strong></p>
          <p>
            Este site pode utilizar cookies e tecnologias semelhantes para
            melhorar sua experiência de navegação. Também usamos ferramentas de
            análise de tráfego como Google Analytics e Google Ads para entender
            o comportamento do usuário.
          </p>

          <p><strong>Publicidade e links de afiliado</strong></p>
          <p>
            O ClickReviews participa de programas de afiliados, como Amazon,
            Shopee e Mercado Livre, e pode receber comissões por compras
            realizadas através dos links indicados no site.
          </p>

          <p>
            Também exibimos anúncios do Google AdSense, que podem usar cookies
            para personalizar o conteúdo mostrado a você.
          </p>

          <p><strong>Segurança dos dados</strong></p>
          <p>
            Fazemos o possível para manter seus dados seguros e confidenciais,
            mas nenhum método de transmissão ou armazenamento eletrônico é 100%
            seguro.
          </p>

          <p><strong>Contato</strong></p>
          <p>
            Em caso de dúvidas, você pode entrar em contato conosco através da
            página:
            <a [routerLink]="['/contato']"
              >https://www.clickreviews.com.br/contato</a
            >
          </p>

          <p><em>Data da última atualização: 05/08/2025</em></p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
