<mat-toolbar>
  <mat-menu #appMenu="matMenu">
    <ng-template matMenuContent>
      <a routerLink="/"><button mat-menu-item>Análises</button></a>
      <a routerLink="/contato"><button mat-menu-item>Contato</button></a>
    </ng-template>
  </mat-menu>

  <button matIconButton [matMenuTriggerFor]="appMenu">
    <mat-icon>menu</mat-icon>
  </button>

  <span><strong><a routerLink="/">ClickReviews</a></strong></span>
  <span class="example-spacer"></span>
  <button matIconButton class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon (click)="favoritar()">favorite</mat-icon>
  </button>
  <button matIconButton class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon (click)="mostrarMenu = !mostrarMenu">share</mat-icon>
  </button>

  <!-- Menu de compartilhamento -->
  @if (mostrarMenu) {
    <div class="absolute bg-white p-2 shadow-md rounded mt-2 z-10">
      <a (click)="compartilharWhatsApp()" class="compartilhar-link">WhatsApp</a><br>
      <a (click)="compartilharFacebook()" class="compartilhar-link">Facebook</a><br>
      <a (click)="compartilharTwitter()" class="compartilhar-link">Twitter</a><br>
      <a (click)="compartilharLinkedIn()" class="compartilhar-link">LinkedIn</a><br>
      <a (click)="copiarLink()" class="compartilhar-link">Copiar link</a>
    </div>
  }

  <mat-slide-toggle />
</mat-toolbar>





