<mat-toolbar color="primary" class="footer">
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-info">
        <span class="copyright">
          &copy; {{ currentYear }} ClickReviews, todos os direitos reservados
        </span>
      </div>

      <!-- AdSense Banner-->
      <div class="ads-container">
        <ins
          class="adsbygoogle"
          style="display: block; min-width: 20%; min-height: 20%;"
          data-ad-client="ca-pub-8235228978821445"
          data-ad-slot="7032748911"
          data-ad-format="auto"
          data-full-width-responsive="true"
        >
        </ins>
      </div>

      <div class="social-media">
        @for (link of socialLinks; track link.icon) {
        <a [href]="link.url" target="_blank">
          <img [src]="link.icon" alt="Instagram" width="40" height="40" />
        </a>
        }
      </div>
    </div>
  </div>
</mat-toolbar>
