:host {
  color: #39353c;
}

.example-card {
  //max-width: 400px;
}

.example-header-image {
  background-image: url('https://http2.mlstatic.com/D_NQ_NP_2X_668543-MLA75547177771_042024-F.webp');
  background-size: cover;
}

.example-header-image-2 {
  background-image: url('https://http2.mlstatic.com/D_NQ_NP_2X_960393-MLU73445762100_122023-F.webp');
  background-size: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}
