<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"
    [style]="{'background-image': 'url(' + product.imageUrl[0] + ')',
  'background-size': 'cover'}"></div>
    <mat-card-title>{{ product.productTitle }}</mat-card-title>
    <mat-card-subtitle>{{ product.productCategory }}</mat-card-subtitle>
  </mat-card-header>

  <a [routerLink]="['/review', product.slug]">
    <img mat-card-image [attr.loading]="'lazy'" [src]="product.imageUrl[0]" [alt]="product.productTitle" [style]="{'width': '15rem', 'text-align': 'center', 'margin-left': '2rem'}">
  </a>

  <mat-card-content>
    <p>{{ product.opinionPreview }}</p>
  </mat-card-content>

  <mat-card-actions>
    <button matButton class="custom-button">
      <a [routerLink]="['/review', product.slug]">Review/Análise</a>
    </button>
    <button matButton class="custom-button" style="margin-left: 1rem !important;">
      <a [href]="product.linkComprar[0]" target="_blank"> Ver Preço Agora</a>
    </button>
  </mat-card-actions>
</mat-card>
