<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"
    [style]="{'background-image': 'url(' + product.imageUrl + ')',
  'background-size': 'cover'}"></div>
    <mat-card-title>{{ product.productTitle }}</mat-card-title>
    <mat-card-subtitle>{{ product.productType }}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image [attr.loading]="'lazy'" [src]="product.imageUrl" [alt]="product.productTitle" [style]="{'width': '15rem', 'text-align': 'center'}">

  <mat-card-content>
    <p>{{ product.opinionPreview }}</p>
  </mat-card-content>

  <mat-card-actions>
    <button matButton class="custom-button">
      <a [routerLink]="['/review', product.slug]">Review/Análise</a>
    </button>
    <button matButton class="custom-button">
      <a [href]="product.linkComprar" target="_blank">Comprar no Mercado Livre</a>
    </button>
  </mat-card-actions>
</mat-card>
