<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Samsung Galaxy A15</mat-card-title>
    <mat-card-subtitle>SmartPhone</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://http2.mlstatic.com/D_NQ_NP_2X_668543-MLA75547177771_042024-F.webp" alt="Photo of a Samsung Galaxy A15" style="width: 15rem; text-align: center;">
  <mat-card-content>
    <p>
      O Samsung Galaxy A15 possui tela Super AMOLED de 6,5", câmera tripla com sensor principal de 50 MP e bateria de 5.000 mAh. Vem com processador Helio G99 (4G) ou Exynos 850 (5G) e 128 GB a 256 GB de armazenamento. É uma opção equilibrada para uso diário.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button matButton><a [routerLink]="['review', 'galaxy-a15']">Review/Análise</a></button>
    <button matButton><a href="https://mercadolivre.com/sec/29obZxg">Comprar no Mercado Livre</a></button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card" appearance="outlined" style="margin-top: 2rem;">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image-2"></div>
    <mat-card-title>Cadeira de Bebê Multifix Black Urban</mat-card-title>
    <mat-card-subtitle>Cadeira Bebê Safety 1st</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://http2.mlstatic.com/D_NQ_NP_2X_960393-MLU73445762100_122023-F.webp" alt="Photo of a Safety 1st Cadeira Bebê" style="width: 15rem; text-align: center;">
  <mat-card-content>
    <p>
      Cadeira de Bebê Multifix Black Urban , Fácil Instalação Convencional e Isofix, 4 Posições de inclinação, Uso desde o Nascimento até 36 Kg Safety 1st.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button matButton><a [routerLink]="['review', 'cadeira-bebe-multifix']">Review/Análise</a></button>
    <button matButton><a href="https://mercadolivre.com/sec/1Nz3jfp">Comprar no Mercado Livre</a></button>
  </mat-card-actions>
</mat-card>
