mat-card-actions {
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-start; // Alinha o botão à esquerda
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 ratio */
  height: 0;
  overflow: hidden;
  margin-top: 1rem;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

img[mat-card-image] {
  display: block;
  max-width: 250px;
  width: 100%;
  //margin: 1rem auto;
}